<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if user.is_authenticated%}
    안녕하세요 {{user.username}}님!
        <a href="{% url 'logout' %}">로그아웃</a>
    <br/>
    {% else %}
    아직 로그인이 되지 않았어요...
        <a href="{% url 'login' %}">로그인</a>
    <br/>
    {% endif %}


    <h1>My Sample Blog</h1>
    <!--블로그 글 목록-->
    {% for post in posts%}
        <a href="{% url 'detail' post.id %}">
            <h3>제목 : {{post.title}}</h3>
        </a>
        <h4>내용 : {{post.date}}</h4>
    {{post.body}}
    {% endfor%}
    <!-- 새글 작성-->
    <br/><br/>
<!--
    <a href="{% url 'new' %}">새 글 작성 - HTML Form 이용</a> <br/>
    <a href="{% url 'form_create' %}">새 글 작성 - Django Form 이용</a><br/>
-->
    {% if user.is_authenticated%}
    <a href="{% url 'modelformcreate' %}">새 글 작성 - Medels Form 이용</a>
    {% endif %}
</body>
</html>